/*
.grid {
    padding-left: 6rem;
    padding-right: 6rem;
}
*/

/*nav*/


.upper-navlink {
    color: gray;
    font-size: 11px;
    line-height: 23px;
    font-weight: 500;
}

.dropdown-menu {
    border: none;
}

.list-group-item {
    border: none;
    border-bottom: rgb(231, 231, 231) 1px solid;
}

.telia-logo {
    height: 60px;
}

.search-btn {
    border: none;
    color: black;
    background-color: white;
}

.bi-search {
    height: 22px;
}

.bi {
    width: 25px;
    height: 25px;
}

/*banner*/

.container-fluid {
    padding: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    height: 500px;
/*    padding: 0 96px; */
    margin: 0;
    background-image: url(https://www.telia.fi/dam/jcr:64f7d527-d9d9-4364-92ec-e1b2c787a273/joulu-etusivunhero-v2-2880x1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
    color: white;
    border-radius: 0;
}

.texts {
    width: 50%;
    font-family: 'Helvetica Neue';
    margin-left: 6rem;
}

.texts h1 {
    font-size: 48px;
    font-weight: 450;
}

.btn-jumbo {
    background-color: #0c6;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    border-radius: 30px 30px 30px;
    letter-spacing: .8px;
    font-weight: 500;
}

/*icons*/

.w-100 {
    display: none;
}

.icon-list {
    text-align: center;
    height: 110px;
    color: black;
}

.icon-item {
    height: 63px;
    padding: 1.25rem 0;
}

.icon-cont {
    text-align: center;
}

.icon-txt {
    padding: 0.5rem 0;
    margin-top: 0.75rem;
}

@media (max-width: 575.98px) {
    .icon-list {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .icon-item {
        display: flex;
        font-size: 18px;
        font-weight: 300;
        line-height: initial;
        align-items: baseline;
        border-bottom: 1px solid rgb(230, 227, 227);
    }

    .icon-txt {
        margin: 0;
        width: 50%;
    }
    .icon-cont {
        display: flex;
        margin: 0 1rem 0 1rem;
        width: 10%;
    }

    .bord {
        border: none;
        margin-bottom: 2rem;
    }
}

@media (max-width: 767.98px) {

    .w-100 {
        display: inline;
    }

    .icon-list {
        display: flex;
        height: auto;
    }

    .icon-item {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 300;
        border-bottom: 1px solid rgb(230, 227, 227);
    }

    .icon-cont {
        display: flex;
        margin: 0 1rem 0 1rem;
        width: 10%;
    }

    #bord {
        border: none;
        margin-bottom: 2rem;
    }

}

/*cards*/

.card-deck {
    padding: 1rem 0 3rem 0;
    flex: 1;
}

.card-block {
    border: none;
    border-radius: 30px 30px 30px;
    color: rgb(44, 44, 44);
    box-shadow: 0 12px 24px 0 rgba(0,0,0,.12);
    flex: 1; 
}

.card-txt {
    height: 50%;
    margin-bottom: 1rem;
}

.card-cont {
    padding: 3rem 2rem 1rem 2rem;
}

.card-name {
    font-family: 'Helvetica Neue';
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.card-info {
    font-family: 'Helvetica';
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}


.card-link {
    margin: 0;
    padding: 3rem 2rem 1rem 2rem;
    font-size: 14px;
    color: rgba(15, 15, 15, 0.849);
    font-weight: bold;
    text-transform: uppercase;
}




/*sale*/

.sale-block {
    background: #fafaf9f8;
    padding: 3rem 0rem;
}

.sale-block-title {
    padding-bottom: 1rem;
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
}

.sale {
    text-align: center;
    border: none;
    border-right: 2px solid #fafaf9f8;
}

.product-by {
    font-size: 0.9rem;
    color: rgba(168, 168, 168, 0.685);
}

.sale-title {
    max-height: 40px;
    margin-top: 10px;
    line-height: 20px;
    font-size: 20px;
    overflow: hidden;
}

.sale-img {
    flex-grow: 1;
}

.img-cont {
    height: 50%;
}

.sale-img {
    margin-top: 1rem;
    height: auto;
    max-width: 70%;
}

.sale-txt {
    font-family: 'Helvetica Neue';
    margin: 0;
}

.sale-txt span {
    font-weight: 400;
    font-size: 14px;
}
.sale-footer {
    border: none;
    background-color: white;
    padding-top: 0;
    padding-bottom: 2rem;
}

.text-muted {
    color: rgba(168, 168, 168, 0.685) !important;
}

.button-cont {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.violet-btn {
    height: 2.75rem;
    width: 13rem;
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .8px;
    line-height: 18px;
    font-weight: 700;
    color: #990ae3;
    border-color: #990ae3;
    border: 2px solid #990ae3;
    border-radius: 30px 30px 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: none;
}

.bi-caret-right {
    padding-left: 7px;
}

/*form*/

.form-login {
    max-width: 30rem;
    margin: 3rem auto;
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 30px 30px 30px;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,.12);
}

.btn-submit {
    margin: auto;
    margin-top: 3rem;
}

.login {
    color: #990ae3;
    padding: 2rem 0;
    text-decoration: underline;
}
