html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
    text-align: left;
    margin: 0;
    font-weight: 300;
}

h2 {
    margin: 0;
    font-size: 2.75rem;
    line-height: 3rem;
}

h3 {
    font-size: 2rem;
    margin: 32px 0 0 0;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

p {
    font-size: 0.9rem;
    opacity: 85%;
}

a {
    text-decoration: none;
    font-weight: 300;
    color: #4d4d4d;
    transition: color 400ms;
}

a:hover {
    color: rgb(252, 194, 107);
}

.flex-container {
    display: flex;
}

.nav-mobile {
    display: none;
}

#mobile-img {
    display: none;
}

/*header*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
    opacity: 90%;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: 550;
    color: rgb(29, 29, 29);
    opacity: 85%;
}

.nav-content {
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}

#light {
    font-weight: 300;
    color: #b3b3b3;
}

#logoimg {
    height: 3rem;
    margin-top: 0.5rem;
    opacity: 85%;
}

.navspan {
    padding-right: 16px;
}

.nav-desktop {
    flex-grow: 1;
    text-align: right;
}

/*main*/

main {
    margin-top: 4rem;
    position: relative;
    width: 100%;
}

/*first section*/

.first-section { 
    background-color: #e6e6e6
}

.banner {
    padding: 2rem 1.5rem;
    width: 60%;
}

.banner img {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.banner-text { 
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 5rem;
}

.button {
    width: 50%;
    padding: 1rem 0;
    background-color: #4d4d4d;
    color: white;
    text-align: center;
    font-weight: 400;
    transition: color 400ms;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.button:hover {
    background-color: rgb(255, 153, 0);
    opacity: 80%;
    color: white;
}
/*second section*/

.second-section {    
    justify-content: flex-start;  
    flex-wrap: nowrap;
}

.left {   
    padding: 2rem 1.5rem;
    flex-direction: column;
    width: 60%;
}

.info-img {
    max-width: 100%;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

 .right {
    flex-direction: column;
    flex: 1;
    border-left: 0.5px solid #e6e6e6;
    padding-top: 1rem;
}

 .info-blocks {  
    border-bottom: 0.5px solid #e6e6e6;
    padding: 1rem 2rem 1rem 0;
}

 .container-img {
    max-width: 100%;
    padding-left: 1rem; 
}

.containerimg img {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

 #containerimg{
    width: 35%;
    margin: auto;
}

 .container-text {
    width: 65%;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

.info-img 

.container-text h4{
    margin: 0;
}

.grey {
    background-color: #e6e6e6;
}

#info-name {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 32px;
}

h3.info-text {
    margin-bottom: 1.5rem;
}

#text {
    margin: 0.5rem 0;
}

#readmore {
    color: rgb(74, 169, 247);
}

/*third section*/

.third-section {
    background-color: #f1f0f0;
    padding: 2rem 0 2rem;
}

.heading {
    text-align: center;
    margin: 0;
}

.courses {    
    flex-wrap: wrap;
    margin: 0 4rem;
    justify-content: space-around;
    align-content: center;
}

.course {
    flex-direction: column;
    width: 30%;
    background-color: white;
    margin: 2rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

div.course {
    box-sizing: border-box;
}

.course-img {
    max-width: 100%;
    object-fit: cover;
}

.course-content {
    padding: 1rem 1rem 1.5rem 1rem;
}

#marged {
    margin-top: 0;
    margin-bottom: 1rem;
}

#description {
    margin: 0;
}

/*fourth section*/

video {
    max-width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

#videotext {
    margin-bottom: 8px;
}

.quote {
    margin: 0;
}

.right.noborder {
    padding-top: 2rem;
}

.noborder {
    border: none;
}

/*footer*/

footer {
    width: 100%; 
    border-top: 0.5px solid #e6e6e6;
    z-index: 100;
    align-items: center;
}

.rights {
    padding: 1rem 1rem 1rem 1.5rem;
    font-size: 0.75rem;
}

.rights p{
    margin: 0;
}

.terms {
    flex-grow: 1;
    text-align: right;
}

#bottom {
    font-size: 0.75rem;
    color: #4d4d4d;
    padding: 1rem;
}


@media only screen and (max-width: 600px) {

    /*hide*/

    .logo, .nav-desktop, #hide, .hide, #desktop, .course-img, #description, #videotext, .noborder, .quote, .terms {
        display: none;
    }

    .main {
        width: 100%;
    }

    /*mobile navigation*/

    .nav-mobile {   
        display: flex;      
        width: 100%;
        justify-content: space-between;
        align-items: center;
        opacity: 80%;
    }

    img.nav-mobile {
        display: inline-block;
    }

    /*mobile first-section*/

    .first-section {         
        flex-direction: column;
    }

    .banner {
        width: 100%;
        padding: 0;
    }

    .banner-text {
        padding: 2rem 1rem;
    }

    .button {
        background-color: #919191;
        font-weight: bolder;
    }

    /*mobile second-section*/

    .right {
        padding: 0;
        padding-bottom: 1rem;
    }

    .info-blocks {
        width: 100%;
        margin: auto;
        background-color: white;
        flex-flow: column;
        padding-top: 0;
        border: none;
        padding-right: 0;
    }
    
    #containerimg {      
        width: auto;
    }
    
    #mobile-img {
        display: block;
        box-sizing: border-box;
        max-width: 100%;
        padding: 16px;
    }
 
    /*mobile third section*/

    .third-section {
        background-color: white;
        border-top: 0.5px solid #e6e6e6;
        border-bottom: 0.5px solid #e6e6e6;
        padding-bottom: 1.5rem;
    }

    .courses {
        flex-direction: column;
        margin: 1rem 0 0 0;
    }

    .course {
        width: 90%;
        background-color: #e6e6e6;
        padding: 1rem;
        margin: 0 0 0.5rem 0;
        box-shadow: 0 0rem 2px rgba(0,0,0,0.1);
    }

    .course-content {
        padding: 0;
    }

    #marged {
        margin: auto;
        font-size: 1.25rem;
    }

    /*mobile fourth section*/

    .left {
        width: 100%;
        padding: 1rem 0 1.5rem 0;
    }

    .video {
        height: 100%;
    }

    /*mobile footer*/

    footer {
        border: none;
    }

    .rights p {
        margin: 1rem 0;
    }
}